.testB{
    border: 2px solid black !important;
  }
.testHW{
    height: 6rem;
      width: 7rem;
    } 
.testM{
       margin: 0px;
    
      } 
      
.testBradius{
        border-radius: 9px;
    
      }  
.testFontSize{
        font-size: x-large;
          }
         
.textCentre{
            text-align: center
        
          }  
.textColor{
     color: white;
 }
a:hover {
    /* background-color: grey; */
    /* text-decoration: none; */
}
a {text-decoration: none; background-color: none; }
.color{
    /* color: white; */
} 
body {
    font-family: 'Sofia';font-size: 22px;
}
               
#cont{
    height: 15rem;
    width: 20rem;
    border: 2px solid black;
}
#header1{
    /* border: 2px solid red; */

}
h1{
    font-family: 'Allison';
    /* border: 2px solid red; */
    margin: 0px;
    /* font-style: italic; */
    /* color: white; */
}
hr{
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
}
.btn{
      padding: 6px;
    /* margin: 26px; */
    /* margin-top: 9px;
    margin-left: 24px;
    margin-right: 23px; */
    position: relative;
    font-size: medium;
    border-radius: 5px;
    font-family: 'Annie Use Your Telescope';
    border: 2px solid black;
    box-shadow: 3px 10px 11px #8888f3;

}
.btn:hover{
    background-color: #fff;
}
#demo{
    /* border: black 2px solid; */
    position: relative;
    bottom: -28px;
    font-family: 'Allison';
    font-size: xx-large;
}
#btn1{
    top: 16px;
    right: 49px;

}
#btn2{
    top: 16px;
    left: 53px;

}
